    <% layout('layouts/boilerplate') %>
    <div class="d-flex justify-content-center mt-3">
        <form action="">
            <h2 class="d-flex justify-content-center"><%= currentBlock.object.title %> is owned by <%= users[q] %> </h2>
            <div>
                Since you are on his land you will have to pay <%= currentBlock.object.price %> as the rent to <%= users[q] %>
            </div>
            <section class="d-inline-flex p-1">
                <div class="mt-3">
                    <label for="amount">Amount:</label>
                    <input type="Number" id="amount">
                </div>
                <div>
                    <% if(p===1){ %>
                        (Your balance: <%= player1.points %>) 
                    <% }else{ %>
                        (Your balance: <%= player2.points %>) 
                    <% } %>                
                </div>
            </section>
            <div class="mt-3">
                <button class="btn btn-primary">Pay</button>
            </div>
        </form>
    </div>
   
