    <% layout('layouts/boilerplate') %>
    <% if(currentBlock.object.title!=='Atlas'){ %>
        <% let i = Math.floor(Math.random()*(currentBlock.object.quiz.length)) %>  
        <section class="d-flex justify-content-center mt-3 border border-primary">
            <div class="mt-1">
                <form action="/monopoly/<%=p%>/<%=currentBlock.object.quiz[i].answer%>" method="post"> 
                    <h2 class="d-flex justify-content-center mt-3"><%=currentBlock.object.title%></h2>
                    Q. <%= currentBlock.object.quiz[i].question %>
                    <div>
                        <% for(option of currentBlock.object.quiz[i].options){ %>
                            <br>
                            <input type="radio" id="<%=option%>" name="chosen" value="<%=option%>">
                            <label for="<%=option%>"><%= option %></label>
                        <% } %> 
                    </div>
                    <% currentBlock.object.quiz.splice(i,1) %> 
                    <div class="mt-3">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    <% }else{ %>
        <% let i = Math.floor(Math.random()*currentBlock.object.place.length)%> 
        <img src="images/aachi.jpg" class="img-fluid" alt="petra">

        
    <% } %> 